/* Common styles */
@font-face {
  font-family: Inconsolata;
  src: url(../fonts/Inconsolata.otf)
}

* {
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Inconsolata', 'Nimbus Mono L', 'Courier';
  width: 100%;
  font-size: 1.6em;
}

.left {
  width: 75%;
  float: left;
  padding: 2%;
  height: auto;
  max-height: 100%;
  overflow: auto;
}

.banner {
  height: auto;
  text-align: center;
}

.right {
  width: 25%;
  float: right;
  padding: 2%;
  right: 0;
  color: #FFF;
  font-size: 0.9em;
}

.content {
  display: none;
}

.out {
  display: inline-block;
  height: auto;
  line-height: 1.1em;
}

.cursor {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

a, a:visited {
  color: inherit;
}

i {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position: center center;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  height: auto;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

ul a {
  text-decoration: none;
  color: inherit;
}

ul.commands li:before {
  content: '»';
  padding-right: 10px;
  font-size: 0.9em;
}

ul.actions {
  margin-top: 25%;
  font-size: 0.8em;
}

ul.actions li:before {
  content: '⚙';
  padding-right: 5px;
  font-size: .9em;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width:600px) {
  .left {
    width: 100%;
    float: none;
  }

  .right {
    width: 100%;
    float: none;
    position: static;
  }
}

/* dark theme */
.dark {
  background-color: #292B2E;
  color: #BC6EC5;
}

.dark .right {
  background-color: #5D4D7A;
}

.dark i.email {
  background-image: url(../img/email-light.png);
  background-size: 25px 25px;
}

.dark i.twitter {
  background-image: url(../img/twitter-light.png);
  background-size: 25px 25px;
}

.dark i.github {
  background-image: url(../img/github-light.png);
  background-size: 25px 25px;
}

.dark i.gitlab {
  background-image: url(../img/gitlab-light.png);
  background-size: 25px 25px;
}

.dark i.diaspora {
  background-image: url(../img/diaspora-light.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/* light theme */
.light {
  background-color: #FFF;
  color: rgb(142, 2, 9);
}

.light .right {
  background-color: #938283;
}

.light i.email {
  background-image: url(../img/email-dark.png);
  background-size: 25px 25px;
}

.light i.twitter {
  background-image: url(../img/twitter-dark.png);
  background-size: 25px 25px;
}

.light i.github {
  background-image: url(../img/github-dark.png);
  background-size: 25px 25px;
}

.light i.gitlab {
  background-image: url(../img/gitlab-dark.png);
  background-size: 25px 25px;
}

.light i.diaspora {
  background-image: url(../img/diaspora-dark.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
}